<div class="form-group">
				    <label class="control-label" for="<%=camelizedSingularName%>"><%=humanizedSingularName%></label>
				    <div class="controls">
				        <select <% for(var att in attributes){if(attributes.hasOwnProperty(att)){ %><%=att%>="<%=attributes[att]%>" <% }} %>data-ng-model="<%=camelizedSingularName%>" id="<%=camelizedSingularName%>" class="form-control" placeholder="<%=humanizedSingularName%>" required><% selectTagOptions.forEach(function(opt){ %>
				        	<option <% for(var optAtt in opt.attributes){if(opt.attributes.hasOwnProperty(optAtt)){ %><%=optAtt%>="<%=opt.attributes[optAtt]%>" <% } } %><%=opt.selected? "selected" : ""%>><%=opt.text%></option><% }) %>
				        </select>
				    </div>
				</div>