<section data-ng-controller="SecondOfFoursController" data-ng-init="findOne()">
	<div class="page-header">
		<a class="btn btn-primary" href="/#!{{parentRouteUrl}}/second-of-fours">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<h1>Second of four Details</h1>
		<h3>
	<strong>Name</strong>
	<span data-ng-bind="secondOfFour.name"></span>
</h3>
        
        		<a class="btn btn-primary" href="/#!{{parentRouteUrl}}/second-of-fours/{{secondOfFour._id}}/third-of-fours">
			Third of fours
		</a>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == secondOfFour.user._id))">
		<a class="btn btn-primary" href="/#!{{parentRouteUrl}}/second-of-fours/{{secondOfFour._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Created
			<span data-ng-bind="secondOfFour.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="secondOfFour.user.displayName"></span>
		</em>
	</small>
</section>
