<h4 class="list-group-item-heading">
	<strong><%=propertyLabel %></strong>
	<%
	var referencedDisplayPropertyNamesArray = attributes.propertyNamesForDisplay.split(',');
	var propertyColumnNamesForDisplayArray = attributes.propertyColumnNamesForDisplay.split(',');
	for(var ctr = 0; ctr < referencedDisplayPropertyNamesArray.length; ctr++){
		var referencedDisplayPropertyName = referencedDisplayPropertyNamesArray[ctr];
		var propertyColumnNameForDisplay = propertyColumnNamesForDisplayArray[ctr];
	%><%=referencedDisplayPropertyName%>: {{<%= moduleName %>.<%=camelizedSingularName%>.<%=propertyColumnNameForDisplay%>}}&nbsp;
	<%}%>
</h4>