.bsg-add-new-with-name-directive {
	margin-bottom: 10px;
}

.bsg-add-new-with-name-directive .btn {
	padding: 4px 10px;
}

.bsg-add-new-with-name-directive label {
	margin-right: 5px;
	font-weight: normal;
}