<section class="create-item" data-ng-controller="AbcdController">
    <section data-ng-show="createAuthorized">
        <div class="page-header">
            <h1>New Abcd</h1>
        </div>
        <div class="col-md-12">
            <form class="form-horizontal" data-ng-submit="create()" novalidate>
                <fieldset>
                    <div class="form-group">
				    <label class="control-label" for="a">A</label>
				    <div class="controls">
				        <input type="text" data-ng-model="a" id="a" class="form-control" placeholder="A" required>
				    </div>
				</div>
                    <div class="form-group">
				    <label class="control-label" for="b">B</label>
				    <div class="controls">
				        <input type="text" data-ng-model="b" id="b" class="form-control" placeholder="B" required>
				    </div>
				</div>
                    <div class="form-group">
				    <label class="control-label" for="c">C</label>
				    <div class="controls">
				        <input type="text" data-ng-model="c" id="c" class="form-control" placeholder="C" required>
				    </div>
				</div>
                    <div class="form-group">
				    <label class="control-label" for="d">D</label>
				    <div class="controls">
				        <input type="text" data-ng-model="d" id="d" class="form-control" placeholder="D" required>
				    </div>
				</div>
                    
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Add">
                        <a class="btn btn-default" data-ng-href="#!{{parentRouteUrl}}/abcd">
                            Cancel
                        </a> 
                    </div>
    				<div data-ng-show="error" class="text-danger">
    					<strong data-ng-bind="error"></strong>
    				</div>
                </fieldset>
            </form>
        </div>
    </section>
    <bsg-user-unauthorized unauthorized="createUnauthorized"></bsg-user-unauthorized>
</section>