<section class="view-item" data-ng-controller="AbcdController" data-ng-init="findOneForRead()">
	<section data-ng-show="authorized">
		<div class="page-header">
			<div class="buttons-and-heading-container">
				<div class="left-buttons">	
					<a class="btn btn-primary" href="/#!{{parentRouteUrl}}/abcd">
						<span class="glyphicon glyphicon-chevron-left"></span>
					</a>
				</div>
				<div class="text-center center-content">
					<h1>Abcd Details</h1>
				</div>
				<div class="right-buttons">
				</div>
			</div>
		</div>
		<div>
			<h3>
	<strong>a</strong>
	<span data-ng-bind="abcd.a"></span>
</h3>
	        <h3>
	<strong>b</strong>
	<span data-ng-bind="abcd.b"></span>
</h3>
	        <h3>
	<strong>c</strong>
	<span data-ng-bind="abcd.c"></span>
</h3>
	        <h3>
	<strong>d</strong>
	<span data-ng-bind="abcd.d"></span>
</h3>
	        
	        
		</div>
		<div class="pull-right">
			<a class="btn btn-primary" data-ng-show="((editAccessType === 'hasAccess') || (editAccessType === 'hasAccessIfUserCreatedIt' && authentication.user._id === abcd.user._id))" href="/#!{{parentRouteUrl}}/abcd/{{abcd._id}}/edit">
				<i class="glyphicon glyphicon-edit"></i>
			</a>
			<a class="btn btn-primary" data-ng-show="((deleteAccessType === 'hasAccess') || (deleteAccessType === 'hasAccessIfUserCreatedIt' && authentication.user._id === abcd.user._id))" data-ng-click="remove();">
				<i class="glyphicon glyphicon-trash"></i>
			</a>
		</div>
		<small>
			<em class="text-muted">
				Created
				<span data-ng-bind="abcd.created | date:'mediumDate'"></span>
				by
				<span data-ng-bind="abcd.user.displayName"></span>
			</em>
		</small>
	</section>
	<bsg-user-unauthorized unauthorized="unauthorized"></bsg-user-unauthorized>
</section>
