<div class="select-item">
   <div class="modal-header">
        <h3 class="modal-title">Add a new Item</h3>
    </div>
    <div class="modal-body">
		<div class="alert alert-danger" role="alert" ng-if="validationError">
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        	<span >{{validationError}}</span>
		</div>
    	&nbsp;
    	<div class="form-group">
    	<label for="itemName">Item Name</label>
		    <input type="textbox" class="form-control" ng-model="name" id="itemName" placeholder="Item Name">
		</div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">Create Item</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>