<section data-ng-controller="ItemspreadsheetController">
    <div class="page-header">
        <h1>New Itemspreadsheet</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
				    <label class="control-label" for="fileName">File name</label>
				    <div class="controls">
				        <input type="text" data-ng-model="fileName" id="fileName" class="form-control" placeholder="File name" required>
				    </div>
				</div>
                <div class="form-group">
				    <label class="control-label" for="fileKey">File key</label>
				    <div class="controls">
				        <input type="text" data-ng-model="fileKey" id="fileKey" class="form-control" placeholder="File key" required>
				    </div>
				</div>
                <div class="form-group">
				    <label class="control-label" for="parentId">Parent id </label>
				    <div class="controls">
				        <input type="text" data-ng-model="parentId" id="parentId" class="form-control" placeholder="Parent id " required>
				    </div>
				</div>
                <div class="form-group">
				    <label class="control-label" for="status">Status</label>
				    <div class="controls">
				        <input type="text" data-ng-model="status" id="status" class="form-control" placeholder="Status" required>
				    </div>
				</div>
                <div class="form-group">
		    <label class="control-label" for="updated">Updated</label>
		    <div class="dropdown">
				<a class="dropdown-toggle" id="updated" role="button" data-toggle="dropdown" data-target="#" href="#">
					<div class="input-group"><input type="text" class="form-control" data-ng-model="updated"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
					</div>
				</a>
				<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
					<datetimepicker data-ng-model="updated" data-datetimepicker-config="{ dropdownSelector: '#updated' }"/>
				</ul>
			</div>
		</div>
                
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Add">
                    <a class="btn btn-default" data-ng-href="#!{{parentRouteUrl}}/itemspreadsheet">
                        Cancel
                    </a> 
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>