<section data-ng-controller="ItemspreadsheetController" data-ng-init="findOne()">
	<div class="page-header">
		<a class="btn btn-primary" href="/#!{{parentRouteUrl}}/itemspreadsheet">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<h1>Itemspreadsheet Details</h1>
		<h3>
	<strong>file name</strong>
	<span data-ng-bind="itemspreadsheet.fileName"></span>
</h3>
        <h3>
	<strong>file key</strong>
	<span data-ng-bind="itemspreadsheet.fileKey"></span>
</h3>
        <h3>
	<strong>parent id </strong>
	<span data-ng-bind="itemspreadsheet.parentId"></span>
</h3>
        <h3>
	<strong>status</strong>
	<span data-ng-bind="itemspreadsheet.status"></span>
</h3>
        <h3>
	<strong>updated</strong>
	<span data-ng-bind="itemspreadsheet.updated | date:'medium'"></span>
</h3>
        
        
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == itemspreadsheet.user._id))">
		<a class="btn btn-primary" href="/#!{{parentRouteUrl}}/itemspreadsheet/{{itemspreadsheet._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Created
			<span data-ng-bind="itemspreadsheet.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="itemspreadsheet.user.displayName"></span>
		</em>
	</small>
</section>
