<section data-ng-controller="PropertyController">
    <div class="page-header">
        <h1>New Property</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
				    <label class="control-label" for="referenceDisplayFormat">Reference display format</label>
				    <div class="controls">
				        <input type="text" data-ng-model="referenceDisplayFormat" id="referenceDisplayFormat" class="form-control" placeholder="Reference display format" required>
				    </div>
				</div>
                <div class="form-group">
				    <label class="control-label" for="col">Col</label>
				    <div class="controls">
				        <input type="text" data-ng-model="col" id="col" class="form-control" placeholder="Col" required>
				    </div>
				</div>
                <div class="form-group">
				    <label class="control-label" for="selectorControlType">Selector control type</label>
				    <div class="controls">
				        <input type="text" data-ng-model="selectorControlType" id="selectorControlType" class="form-control" placeholder="Selector control type" required>
				    </div>
				</div>
                <div class="form-group">
				    <label class="control-label" for="parentId">Parent id</label>
				    <div class="controls">
				        <input type="text" data-ng-model="parentId" id="parentId" class="form-control" placeholder="Parent id" required>
				    </div>
				</div>
                <div class="form-group">
				    <label class="control-label" for="row">Row</label>
				    <div class="controls">
				        <input type="text" data-ng-model="row" id="row" class="form-control" placeholder="Row" required>
				    </div>
				</div>
                <div class="form-group">
				    <label class="control-label" for="option">Option</label>
				    <div class="controls">
				        <input type="text" data-ng-model="option" id="option" class="form-control" placeholder="Option" required>
				    </div>
				</div>
                <div class="form-group">
				    <label class="control-label" for="refDescription">Ref description</label>
				    <div class="controls">
				        <input type="text" data-ng-model="refDescription" id="refDescription" class="form-control" placeholder="Ref description" required>
				    </div>
				</div>
                <div class="form-group">
				    <label class="control-label" for="referencedPropertyName">Referenced property name</label>
				    <div class="controls">
				        <input type="text" data-ng-model="referencedPropertyName" id="referencedPropertyName" class="form-control" placeholder="Referenced property name" required>
				    </div>
				</div>
                <div class="form-group">
				    <label class="control-label" for="selectorControlAttribute">Selector control attribute</label>
				    <div class="controls">
				        <input type="text" data-ng-model="selectorControlAttribute" id="selectorControlAttribute" class="form-control" placeholder="Selector control attribute" required>
				    </div>
				</div>
                <div class="form-group">
				    <label class="control-label" for="type">Type</label>
				    <div class="controls">
				        <input type="text" data-ng-model="type" id="type" class="form-control" placeholder="Type" required>
				    </div>
				</div>
                <div class="form-group">
				    <label class="control-label" for="name">Name</label>
				    <div class="controls">
				        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
				    </div>
				</div>
                <div class="form-group">
				    <label class="control-label" for="value">Value</label>
				    <div class="controls">
				        <input type="text" data-ng-model="value" id="value" class="form-control" placeholder="Value" required>
				    </div>
				</div>
                <div class="form-group">
				    <label class="control-label" for="referencedFeatureId">Referenced item id</label>
				    <div class="controls">
				        <input type="text" data-ng-model="referencedFeatureId" id="referencedFeatureId" class="form-control" placeholder="Referenced item id" required>
				    </div>
				</div>
                <div class="form-group">
				    <label class="control-label" for="referencedFeatureName">Referenced item name</label>
				    <div class="controls">
				        <input type="text" data-ng-model="referencedFeatureName" id="referencedFeatureName" class="form-control" placeholder="Referenced item name" required>
				    </div>
				</div>
                <div class="form-group">
				    <label class="control-label" for="propertyNamesForDisplay">Property names for display</label>
				    <div class="controls">
				        <input type="text" data-ng-model="propertyNamesForDisplay" id="propertyNamesForDisplay" class="form-control" placeholder="Property names for display" required>
				    </div>
				</div>
                <div class="form-group">
				    <label class="control-label" for="referenceDescription">Reference description</label>
				    <div class="controls">
				        <input type="text" data-ng-model="referenceDescription" id="referenceDescription" class="form-control" placeholder="Reference description" required>
				    </div>
				</div>
                
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Add">
                    <a class="btn btn-default" data-ng-href="#!{{parentRouteUrl}}/property">
                        Cancel
                    </a> 
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>