<section data-ng-controller="RolesController" data-ng-init="findOne()">
	<div class="page-header">
		<a class="btn btn-primary" href="/#!{{parentRouteUrl}}/roles">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<h1>Role Details</h1>
		<h3>
	<strong>Name</strong>
	<span data-ng-bind="role.name"></span>
</h3>
        
        
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == role.user._id))">
		<a class="btn btn-primary" href="/#!{{parentRouteUrl}}/roles/{{role._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Created
			<span data-ng-bind="role.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="role.user.displayName"></span>
		</em>
	</small>
</section>
