.horz-percent-bar-chart {
    padding: 3px;
}

.horz-percent-bar-chart div {
  width: 0;
  transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}

.horz-percent-bar-chart div {
  font: sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 5px;
  margin: 5px;
  color: white;
  box-shadow: 2px 2px 2px #666;
}